services:
  db:
    build: ./database
    container_name: football_db_container
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: football_db
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

  backend:
    build: ./backend
    container_name: football_backend_container
    restart: always
    ports:
      - "5000:5000"
    environment:
      - DB_HOST=db
      - DB_USER=root
      - DB_PASSWORD=rootpassword
      - DB_NAME=football_db
      - PORT=5000
    depends_on:
      - db
    volumes:
      - ./backend:/app:z
      - /app/node_modules

  frontend:
    build: ./frontend
    container_name: football_frontend_container
    restart: always
    ports:
      - "5173:5173"
    environment:
      - VITE_API_URL=http://localhost:5000/api
    depends_on:
      - backend
    volumes:
      - ./frontend:/app:z
      - /app/node_modules

volumes:
  db_data: